.clear-col{
  padding-left: 0;
  padding-right: 0;
}

.float-col{
  display: block;
  float: left;
  &__block{
    overflow: hidden;
  }
}

.logo-list{
  display: inline-block;
  width: 100%;
  text-align: center;
  img{
    display: inline-block;
    vertical-align: middle;
    margin: 5px 5px;
    @include mobile(){
      margin: 0;
    }
    @include desktop(){
      &.logo-separate-more{
        margin: 5px 30px;
      }
    }

  }
}


//== centrado vertical

.vertical-center{
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  &__elem{
    display: table-cell;
    vertical-align: middle;
  }
}

@include mobile(){
  .row{
    margin-left: 0;
    margin-right: 0;
  }
}